body {
  background: lightsteelblue;
}
.container {
  max-width: 400px;
}
input[type="text"],
input[type="text"]:focus {
  color: white;
  border: none;
  background: black;
  opacity: 0.2;
  max-width: 400px;
  
}
.todos li{
  background: purple;
}

.delete{
  cursor: pointer;
}
